prefix = "spinbench"

location = "eastus"

user_nodepools = [{
  name       = "npspin"
  size       = "Standard_DS2_v2"
  node_count = 1
  max_pods   = 250
  labels = {
    "func-runtime" = "spin"
  }
  taints = []
},{
  name       = "npazfn"
  size       = "Standard_DS2_v2"
  node_count = 1
  max_pods   = 250
  labels = {
    "func-runtime" = "azfn"
  }
  taints = []
}]

# to set the current user as an admin you can get your user id from the az cli
# example: az ad signed-in-user show -o tsv --query id
grafana_admins = [  ]

tags = {
  "Purpose"     = "Benchmarking Spin on Kubernetes"
}
